<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.connString" connectionString="Data Source=(local);Initial Catalog=Transtecno;Integrated Security=true" />
    </connectionStrings>
</configuration>